<div class="footer" *ngIf="fs.visible">
   <!-- Footer -->
    
    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Green</span>Freggies</h1>
            <p>
                Always ready to serve at your doorstep. Fresh Vegetables from the market to your kitchen just in few minutes.
            </p>

        </div>


        <div class="footer-section links">
            <h2>Quick Links</h2>
            <br>
            <ul>
                <a href="#">
                    <li>Feedback</li>
                </a>
                <a href="#">
                    <li>Team</li>
                </a>
                <a href="#">
                    <li>Product</li>
                </a>
                <a href="#">
                    <li>FAQ</li>
                </a>
                <a href="#">
                    <li>Terms and Conditions</li>
                </a>
            </ul>
        </div>

        <div class="footer-section Social-media">
            <h2>Contact Us</h2>
            <br>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; 123-456-789</span>
                <br>
                <span><i class="fas fa-envelope"></i> &nbsp; GreenFreggie@gmail.com</span>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>