<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src=".\assets\Image\LoginPic.png"
            class="img-fluid" alt="Sample image" style="width: 650px;height: 200px;">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
  
           <!-- User Name input -->
           <div class="form-outline">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="User Name" />
            <label class="form-label" for="form3Example3"></label>
          </div>

  
            <!-- Email input -->
            <div class="form-outline ">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="form3Example3"></label>
            </div>
             <!-- Address input -->
             <div class="form-outline ">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter your address" />
                <label class="form-label" for="form3Example3"></label>
              </div>
              <!-- Mobile  input -->
             <div class="form-outline ">
                <input type="tel" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter your Mobile Number" />
                <label class="form-label" for="form3Example3"></label>
              </div>
            <!-- Password input -->
            <div class="form-outline ">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4"></label>
            </div>
  
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" routerLink="/cart" >Register</button>
              
  
         
        </div>
        </form>
      </div>
    </div>
    </div>
  </section>